Package: pi-app-manager
Version: 1.00
Maintainer: PianoCat <kotone.olin1010@gmail.com>
Section: utils
Priority: optional
Architecture: all
Depends: bash, zenity, jq
Origin: Debian
Homepage: https://github.com/NSK-1010/pi-app-manager
Description: パッケージの追加を簡単に行える小さなGUIツール
 パッケージの追加や削除をGUIから簡単に行うことができるツールです。EG-InstallerをベースにSereneTeamが独自で改良を加え、さらにarmhf版Debianで使えるように改良を加えています。
 /etc/pi-app-manager/softwaresにスクリプトを置くことで簡単に項目の追加や削除を行うことができます。
